body {
  background-color: black;
  color: #fff;
  font-family: monospace;
  line-height: 1.6;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.ticker {
  overflow: hidden;
  white-space: nowrap;
}

.css_marquee {
  display: inline-block;
  padding-left: 100%;
  animation-name: css-marquee;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes css-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


nav {
  margin: 0 auto;
}

.screen {
  flex: 1;
  overflow-y: auto;
  max-width: fit-content;
  margin: 0 auto;
}

a {
  color: #fff;
}

a:hover {
  background: #fff;
  color: #000;
}
